name: Build Docker Image By Git Repo
on:
  workflow_dispatch:
    inputs:
      free_space:
        description: 'Free disk space before building'
        type: boolean
        default: false
      repo_url:
        description: 'HTTP(S) git repo url with Dockerfile'
        required: true
        default: 'https://github.com/foxglove/nuscenes2mcap.git'  # Default repo with Dockerfile

jobs:
  build_and_upload:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Free Disk Space (Ubuntu)
      if: ${{ github.event.inputs.free_space == 'true' }}
      uses: jlumbroso/free-disk-space@main
      with:
        # this might remove tools that are actually needed,
        # if set to "true" but frees about 6 GB
        tool-cache: false

        # all of these default to true, but feel free to set to
        # "false" if necessary for your workflow
        android: true
        dotnet: true
        haskell: true
        large-packages: true
        docker-images: true
        swap-storage: true

    - name: Clone git repo and build docker image
      run: |
        repo_url="${{ github.event.inputs.repo_url }}"
        git clone ${repo_url} repo
        cd repo
        docker build . -t repo:latest

    - name: Upload image
      uses: ishworkh/docker-image-artifact-upload@v2.0.1
      with:
        image: "repo:latest"
        retention_days: "1"
